#logo-svg {
    width: min(100vw, 100vh);
    overflow: visible;
    margin: auto;
}

path {
    fill: none;
    stroke-linecap: round;
}

#house-group path {
    stroke: var(--color-purple);
    stroke-width: 21;
}

#house-group #houseRoof {
    stroke-width: 35;
}

#goonz-letter-group path {
    stroke-width: 50;
}

#letter-G {
    stroke: var(--color-teal);
}

#letter-O1 {
    stroke: var(--color-pink);
}

#letter-O2 {
    stroke: var(--color-yellow);
}

#letter-N {
    stroke: var(--color-orange);
}

#letter-Z {
    stroke: var(--color-teal);
}

#goonz-letter-group .goonz-letter-shadow {
    stroke: var(--color-purple);
    stroke-width: 100;
    transform: translateX(20px) translateY(20px);
}

#goonz-letter-group .goonz-letter-border {
    stroke: var(--color-purple);
    stroke-width: 70;
}

#house-container {
    fill: var(--color-pink);
    stroke: var(--color-purple);
    stroke-width: 20;
}

#house-container-shadow {
    fill: var(--color-purple);
    stroke: var(--color-purple);
    stroke-width: 20;
    transform: translateX(10px) translateY(11px);
}

#house-letter-group .house-letter {
    fill: var(--color-yellow);
}

#house-letter-group .house-letter-shadow {
    fill: var(--color-teal);
    transform: translateX(-10px) translateY(12px);
}